{% extends 'eventapp/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p>New User? <a href="{% url 'signup' %}">Register Here</a></p>
{% endif %}
    {% for event in events %}
        <article class="event">
            <time class="date">
                {{ event.event_date }}
            </time>
            <h2><a href="">{{ event.title }}</a></h2>
            <p>{{ event.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}