{% extends 'eventapp/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p>Add your <a href="{% url 'toons' %}">Character</a></p>
    <p>Create an <a href="{% url 'event' %}">Event</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p>New User? <a href="{% url 'signup' %}">Register Here</a></p>
{% endif %}
<br>
<h2>Upcoming Events:</h2>
<p>Click an event link to see the event details and sing up.</p>
<br>
    {% for event in latest_events %}
        <article class="event">
            <time class="date">
                {{ event.event_date }}
            </time>
            <h2><a href="{% url 'detail' pk=event.pk %}">{{ event.title }}</a></h2>
            <p>{{ event.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    {% for toon in toons %}
        <article class="toon">
            
            {{ toon.name }}, {{ toon.player_name }}
        
            <p>{{ toon.gear_score|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}