{% extends 'eventapp/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p>Add your <a href="{% url 'toons' %}">Character</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p>New User? <a href="{% url 'signup' %}">Register Here</a></p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>
{% endblock %}